<mat-toolbar
    color="primary"
    class="typography-muli-heavy"
>
    <span>NgxRoutine</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav
        mode="side"
        opened
    >
        <mat-nav-list>
            <mat-list-item>
                <mat-icon>build</mat-icon>
                Components
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <routine-master-detail
            discriminator="id"
            displayProperty="name"
            [dataSource]="[{ id: 0, name: 'Fred' }, { id: 1, name: 'Juan' }]"
            [detailTemplate]="detailTemplate"
        >
            <ng-template
                #detailTemplate
                let-data
            >
                <h6>You selected {{ data.name }}</h6>
            </ng-template>
        </routine-master-detail>
    </mat-sidenav-content>
</mat-sidenav-container>
