<mat-toolbar
    color="primary"
    class="typography-muli-heavy"
>
    <span>NgxRoutine</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav
        mode="side"
        opened
    >
        <mat-nav-list>
            <mat-list-item>
                <mat-icon>info</mat-icon>
                Components
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>
