$routine-border: 1px solid rgba(94, 94, 94, 0.2);

mat-sidenav {
  border-right: $routine-border;
  width: 232px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  box-sizing: border-box;
  height: calc(100% - 64px);
  padding: 24px;
}

mat-toolbar {
  display: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
