<mat-toolbar
    color="primary"
    class="typography-muli-heavy"
>
    <span>NgxRoutine</span>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav
        mode="side"
        opened
    >
        <mat-toolbar>
            <mat-icon>build</mat-icon>
            Components
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <mat-list-item
                *ngFor="let navLink of componentNavLinks"
                [routerLink]="navLink.routerLink"
            >
                {{ navLink.displayValue }}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
