/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font: 400 16px/24px 'Muli', sans-serif;
}

pre *, code * {
  font: inherit;
}

html,
body {
  font-family: 'Muli', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

code, pre {
  margin: 0;
}

.mat-tab-body-content {
  min-height: 256px;
  height: inherit !important;
}

.mat-tab-label {
  height: 64px !important;
}

.typography-inconsolata-large {
  font: 400 36px/42px 'Inconsolata', monospace;
}

.typography-muli-light {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.typography-muli-heavy {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
}
